/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*   wide viewport rules    */
/*      desktop format      */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

@media (min-width: 50rem ) {
  body {
    > main {
      > article {
        section {
        }
        
        > section:nth-child(1) {
        }
        
        > section:nth-child(2) {
          flex-direction: row ;
          flex-wrap: nowrap;
          justify-content: space-evenly;
          
          > section:nth-child(1) {
          }
          
          > section:nth-child(2) {
          }
          
          > section:nth-child(3) {
          }
        }
      }
    }
  }
}