# temp and scratchpad
/tmp

# IDE stuff
/.vs

# Documentation output
**/out

# nodejs
**/node_modules
package-lock.json
package.json

# Lecturer files
/_AUSTAUSCH

# Logs
logs
*.log

# environment variables file
.env

# system files
.DS_Store
Thumbs.db
