/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*   wide viewport rules    */
/*      desktop format      */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

@media not (max-width: 50rem ){
  #hauptnav {
    display: flex ;
    flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: space-evenly ;
    align-content: flex-end ;
    
/*  box-sizing: border-box ;                                                  */
    height: 4.375rem ;
/*  border: solid 1px #000 ;                                                  */
/*  border-radius: 1em 1em 1em 1em ;                                          */
    box-shadow: 0 0.125em 0.25em black;
    
    transform: translate(0, -1.875rem) ;
    transition: all 0.375s ease ;
    
/*  font-family: "VT323", Calibri, Helvetica, sans-serif ;                    */
/*  font-size: 1.5rem ;                                                       */
/*  font-weight: bold ;                                                       */
/*  color: #eee ;                                                             */
/*  text-align: center ;                                                      */
  
  
/*  > div, > nav-menu {                                                       */
/*    margin-top: 2rem ;                                                      */
/*  }                                                                         */
  
    .desktop-exclusive {
      display: block ;
      
/*    max-height: 8rem ;                                                      */
/*                                                                            */
/*    overflow: hidden ;                                                      */
/*                                                                            */
/*    transition: max-height 0.375s ease ;                                    */
    }
  
/*  .mobile-exclusive {                                                       */
/*    display: none ;                                                         */
/*                                                                            */
/*    max-height: 8rem ;                                                      */
/*                                                                            */
/*    overflow: hidden ;                                                      */
/*                                                                            */
/*    transition: max-height 0.375s ease ;                                    */
/*  }                                                                         */
  }
}