/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*     Custom Elements      */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

nav-menu, menu-head, menu-body, nav-menu a {
  display: block ;
  
  box-sizing: border-box ;
}

/* #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### */


/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*        coloration        */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

.html5icon {
  color: #e34c26 ;
}

/* #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### */


/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*         hauptnav         */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */


#hauptnav {
  display: flex ; 
  box-sizing: border-box ;
  /* border: solid 1px #000 ; */
  border-radius: 1em 1em 1em 1em ;
  box-shadow: 0 0.125em 0.25em black ;
  
  font-family: menueschrift, "VT323", Calibri, Helvetica, sans-serif ;
  font-size: 1.5rem ;
  font-weight: bold ;
  color: #eee ;
  text-align: center ;
  
  background-image: linear-gradient(to bottom right, #99999980 0%, #00000080 100%) ;
  
  > div, > nav-menu {
    margin-top: 2rem ;
  }
  
  
  .icon {
    font-family: ionicons ;
    font-size: 1.3em ;
  }
  
  .mobile-exclusive, .desktop-exclusive {
    display: none ;
    
    max-height: 8rem ;
    
    overflow: hidden ;
    
    transition: max-height 0.375s ease ;
  }
  
  nav-menu {
    box-sizing: border-box ;
    width: 7.375em ;

    &:hover, &:active  {
      menu-head {
        background-image: linear-gradient(to bottom right, #99999980 0%, #00000080 100%) ;
        transition: max-height 0s ease ;
      }
      
      menu-body {
        max-height: 24em ;
      }
      
      a {
        display: block ;
        
        &:hover, &:active {        
          color: #fff ;
          
          background-image: linear-gradient(to bottom right, #99999980 0%, #00000080 100%) ;
        }
      }
    }
    
    a {
      color: #eee ;
      text-decoration: none ;
    }
    
    menu-head {
    }
    
    menu-body {
      max-height: 0 ;
      overflow: hidden ;
      transition: max-height .375s ease ;
      background-image: linear-gradient(to bottom right, #99999980 0%, #00000080 100%) ;
    }
  }
}

/* #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### */
