/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*   thin viewport rules    */
/*       phone format       */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

@media (max-width: 25rem ) {
  #hauptnav {
    flex-direction: column ;
    flex-wrap: initial ;
    justify-content: flex-start ;
    align-content: flex-start ;
    
    padding-bottom: 0.375em ;
    min-height: 4em ;
    border-radius: 0 0 1em 1em ;
    
    transform: translate(0, -1.875em) ;
    transition: all 0.375s ease ;
  
    > div, > nav-menu {
      margin: auto ;
    }
  
    > nav-menu {
      overflow: hidden ;
    
      max-height: 0 ;
      
      transition: max-height 0.375s ease ;
    }
    
    .icon {
      margin-top: 1em ;
    
      font-size: 2em ;
    }
    
    @media (hover: hover) {
      &:hover {
        min-height: 8em ;
    
        .mobile-exclusive {
          max-height: 0 ;
        }
      
        > nav-menu {
          overflow: initial ;
        
          max-height: 1.875em ;
          
          &:hover, &:active {
            max-height: 36em ;
          }
        }
      }
    
      nav-menu:hover menu-body {
        overflow: initial ;
      }
    }
  
    .mobile-exclusive {
      display: block ;
    }
  }
}