/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*  narrow viewport rules   */
/*      tablet format       */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

@media (min-width: 25rem ) and (max-width: 50rem ){
  #hauptnav {
    display: flex ;
    flex-direction: column ;
    flex-wrap: initial ;
    justify-content: initial ;
    align-content: flex-start ;
    
/*  box-sizing: border-box ;                                                  */
    width: 7.25em ;
    min-height: 100vh ;
/*  border: solid 1px #000 ;                                                  */
    border-radius: 0 1em 1em 0 ;
/*  box-shadow: 0 0.125em 0.25em black ;                                      */
  
    transform: translate(-5.125em, 0) ;
    transition: all 0.375s ease ;
    
/*  font-family: "VT323", Calibri, Helvetica, sans-serif ;                    */
/*  font-size: 1.5rem ;                                                       */
/*  font-weight: bold ;                                                       */
/*  color: #eee ;                                                             */
/*  text-align: center ;                                                      */
    
    &:hover, &:active {
      transform: translate(0, 0) ;
    }
  
    > div, > nav-menu {
      margin: 0 ;
    }
    
    .icon {
      font-size: 2em ;
    }
    
    nav-menu {
    }
    
    nav-menu:hover menu-body, nav-menu:active menu-body {
      overflow: initial ;
    }
    
/*  .desktop-exclusive {                                                      */
/*    display: none ;                                                         */
/*                                                                            */
/*    max-height: 8rem ;                                                      */
/*                                                                            */
/*    overflow: hidden ;                                                      */
/*                                                                            */
/*    transition: max-height 0.375s ease ;                                    */
/*   }                                                                        */
  
    .mobile-exclusive {
      display: block ;
      
/*    max-height: 8rem ;                                                      */
/*                                                                            */
/*    overflow: hidden ;                                                      */
/*                                                                            */
/*    transition: max-height 0.375s ease ;                                    */
    }
  
  }
}