/* #### #### #### #### #### */
/* #### ####      #### #### */
/* ####                #### */
/*  narrow viewport rules   */
/*      tablet format       */
/* ####                #### */
/* #### ####      #### #### */
/* #### #### #### #### #### */

@media (min-width: 25rem ) and (max-width: 50rem ){
  #hauptnav {
    flex-direction: column ;
    flex-wrap: initial ;
    justify-content: initial ;
    align-content: flex-start ;
    
    width: 7.25em ;
    min-height: 100vh ;
    border-radius: 0 1em 1em 0 ;
  
    transform: translate(-5.125em, 0) ;
    transition: all 0.375s ease ;
    
    &:hover, &:active {
      transform: translate(0, 0) ;
    }
  
    > div, > nav-menu {
      margin: 0 ;
    }
    
    .icon {
      font-size: 2em ;
    }
    
    nav-menu {
    }
    
    nav-menu:hover menu-body, nav-menu:active menu-body {
      overflow: initial ;
    }
  
    .mobile-exclusive {
      display: block ;
    }
  
  }
}